body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: peachpuff;
    display: flex;    
    padding-top: 40px;
    justify-content: center;
}

.container{
    width: 350px;
    background: lavenderblush;
    padding: 20px;
    border-radius: 24px;
    box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.1);
}

.input-section{
    display: flex;
    gap: 10px;
}

#input-task{
    background: peachpuff;
    border-radius: 10px;
    text-align: center;
    flex: 1;
    padding: 8px;
    border: none;
}

#btn{
    border: none;
    background-color: peachpuff;
    width: 50px;
    border-radius: 10px;
    cursor: pointer;
}

ul{
    list-style: none;
}

li{
    padding: 10px;
    background: peachpuff;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-completed.completed{
    text-decoration: line-through;
    color: gray;
    
}

button.complete-btn{
    cursor: pointer;
    background: green;
    color: white;
}

button.delete-btn{
    cursor: pointer;
    background: red;
    color: white;
}

