/* Number Count */
/* #countLabel{
    display: block;
    font-size: 10em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#btnContainer{
    text-align: center;
}

.buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: rgb(184, 114, 250);
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.25s;
}
.buttons:hover{
    background-color: rgb(112, 22, 197);
} */

/*Random Number Generetor*/
/* body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

#btn{
    padding: 5px 25px;
    font-size: 3em;
    border-radius: 10px;
    cursor: pointer;
    color: rgb(8, 8, 8);
    background-color: rgb(140, 241, 140);
    transition: background-color 0.25s;
}

#btn:hover{
    background-color: rgb(83, 202, 83);
}

#label{
    font-size: 3em;
} */

